{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="">
        Microblog:
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
    <div class="container">

        <h2>Welcome to Flask app Tutorial!!</h2>
    
        <h4>Hello, <b><i>{{user.username}}</i></b></h4>
    
        
        {% for post in posts %}
        <p>
            {{post.author.username}} says: <b> {{post.body}} </b>
        </p>
            
        {% endfor %}
    </div>
</div>
    
{% endblock content %}
    